<!doctype html>
<!--[if lt IE 7]>      <html class="static no-js lt-ie9 lt-ie8 lt-ie7 play"> <![endif]-->
<!--[if IE 7]>         <html class="static no-js lt-ie9 lt-ie8 play"> <![endif]-->
<!--[if IE 8]>         <html class="static no-js lt-ie9 play"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="play" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Soundsuit</title>
    <meta name="description" content="Soundsuit web player">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/play/images/favicon.ico">
    <link rel="apple-touch-icon" href="/play/images/apple-touch-icon-precomposed.png">
    <% if (user.constructor.specialUserClass) { %>
      <script>
        window.PLAYER_MODE = '<%= user.constructor.playerMode %>';
      </script>
    <% } %>
    <link rel="stylesheet" href="/play/css/play.css?<%= revision %>">
    <% if (isMobile) { %>
    <script>
      window.MOBILE = true;
    </script>
    <% } %>
  </head>

  <body class="play">
    <player-main ng-cloak ng-app="app"></player-main>

    <script src="/play/js/play-vendor.js?<%= revision %>"></script>
    <script src="/play/js/play.js?<%= revision %>"></script>

    <%- partial('partials/ga') -%>
  </body>
</html>
