<p>This is message sent to you via Soundsuit.fm subscribe form</p>
<p>Author: <%= author.email %></p>
<br>
<p>
    <ul>
      <li>Company: <%= data.company %></li>
      <li>Street and house number: <%= data.street_house %></li>
      <li>ZIP code and city: <%= data.zip_city %></li>
      <li>Country: <%= data.country %></li>
      <li>Phone: <%= data.phone %></li>
    </ul>
</p>
